
# folders
bin
lib
obj

# autotools files
autom4te.cache
.libs
.deps
Makefile
libtool
config.log
config.status
src/config.h
src/stamp-h1
.dirstamp

# build
*.o
*.lo
*.a
*.la
src/totest/totest

# OSX
.DS_Store
*xcuserdata
*.xcworkspace

# temp files
*~
src/totest/testupdate.xml
src/totest/testsave.xml
